In [ ]:
# # multi level inheritance
* grandfather to father to child

In [1]:
class grandfather:
    grandfather_name="surajmal"
    grandfather_age=75


class father(grandfather):
    father_name="deepak"
    father_age=50


class child(father):
    child_name="ayush"
    child_age=15

obj_1= child()
print(obj_1.grandfather_age)

75

In [ ]:
# multiple inheritance
class grandfather:
    gdfather_name="surajmal"
    grandfather_age=75


class father():
    father_name="deepak"
    father_age=50


class child(grandfather,father):
    child_name="ayush"
    child_age=15

obj_1= child()
print(obj_1.child_name)

# Encapsulation
* Public 
* Private
* Protected

public

In [5]:
class college:
    college_name="LIET"
    college_pincode="301002"

class faculty(college):
    faculty_name="balvir"
    faculty_salary=90000
    
class students(faculty):
    student_name= "ayush"
    student_id=5544332211

obj_1=students()
print(obj_1.student_id)

5544332211

In [8]:
class college:
    college_name="LIET"
    college_pincode="301002"

class faculty(college):
    faculty_name="balvir"
    __faculty_salary=90000  # private variable
    
class students(faculty):
    student_name= "ayush"
    student_id=5544332211

obj_1=students()
print(obj_1.faculty_salary) # public variable
print(obj_1.student_name)

AttributeError: 'students' object has no attribute 'faculty_salary'

In [17]:
class college:
    college_name="LIET"
    college_pincode="301002"
    def __init__(self,college_parks,college_rooms):
        self.college_park=college_parks
        self.college_room=college_rooms
    def display(self):
        print(self.college_parks)
        print(self.college_rooms)


class faculty(college):
    faculty_name="balvir"
    faculty_salary=90000
    
class student(faculty):
    student_name= "ayush"
    student_id=5544332211

obj =student("liet park",3)
print(obj.college_park)

NameError: name 'college_room' is not defined

# protected

In [20]:

class college:
    _college_name="LIET"  # protected variable  "_"
    college_pincode="301002"

class faculty(college):
    faculty_name="balvir"
    faculty_salary=90000
    
class students(faculty):
    student_name= "ayush"
    student_id=5544332211

obj_1=students()
print(obj_1._college_name)

LIET

# Polymorphism

In [21]:
print("hello")

hello

## Abstraction

In [ ]:
#it is used to hide any entity